{% extends 'game/game.html.twig' %}

{% block body %}
    <h1>Game update</h1>
    {% include '/game/form.html.twig' %}
    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock body %}
