{% extends 'user/user.html.twig' %}

{% block content %}
    <h1>User creation</h1>
    {% include '/user/form.html.twig' %}
    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock content %}
