{% extends 'wave/wave.html.twig' %}

{% block content %}
    <h1>Wave creation</h1>
    {% include '/wave/form.html.twig' %}
    <ul>
        <li>
            <a href="{{ path('wave_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock content %}
