{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <H1>Register for TimeReich</H1>       
            {% include 'LthrtUserBundle:Security:register.html.twig' %}
            <br/>
            <br/>
        </div>
    </div>
{% endblock body %}